// Compass includes
@import "compass/utilities";
@import "compass/css3";

// Font import
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic);

// Vars
$base-font-family:  'Source Sans Pro','Arial', sans-serif;
$base-font-size:    16px;
$base-line-height:  25px;
$normal:            400;
$bold:              700;

$white:             #fff;
$black:             #000;

$primary:           #00bad3;
$secondary:         #f47641;

$breakpoint:        678px;

$img-path:          '../img/';

// Base styles
@import 'core/normalize.scss';
@import 'core/h5bp.scss';

// Extra's
@import 'core/helpers.scss';

// Components
@import 'components/typography.scss';
@import 'components/icons.scss';
@import 'components/buttons.scss';
@import 'components/forms.scss';
@import 'components/stickyfooter.scss';
@import 'components/navigation.scss';
@import 'components/tabs.scss';
@import 'components/grid.scss';
@import 'components/footer.scss';
@import 'components/tinynav.scss';

*,
*:before,
*:after {
    @include box-sizing( border-box );
}

// HTML, Body
html, body {
    width: 100%;
    // min-width: 1064px;
}

body {
    width: 100%;
    background: #eaedf1;
}

.transition {
    @include transition(.4s);
}

// Helper
.fix-spacing {
    *:first-child,
    *:last-child {
        margin: {
            top: 0;
            bottom: 0;
        } 
        padding: {
            top: 0;
            bottom: 0;
        } 
    }
}

img {
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

// Row
.row {
    @include clearfix;
    // width: 1044px;
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

// Col
.col {
    @include box-sizing( border-box );
    padding: 0 20px;
    display: block;
}

// Example cols
.example-cols {
    [class*='col'] {
        background: #fff;
    }
}

// Head
.head {
    @extend .fix-spacing;
    @include border-radius( 3px 3px 0 0 );
    background: #323a44;
    padding: 10px 20px;
    color: #fff;
    .title {
        font-size: (16px * 2);
        line-height: 110%;
        color: #fff;
    }
    .sub-title {
        font-size: (16px);
        line-height: 110%;
        color: #5e6d7f;
    }
}

// Body (NOT HTML BODY TAG)
.body {
    @extend .fix-spacing;
    @include border-radius( 0 0 3px 3px );
    background: #fff;
    padding: 20px;
}


/* STYLE */

// masthead
.masthead {
    @extend .col;
    @extend .col-12;
    @extend .fix-spacing;
    background: #00bca7;
    color: #fff;
    h1 a {
        color: #fff;
        border-bottom: 0;
        &:hover, &:focus {
            color: #000;
        }
    }
}
@media screen and(max-width:$breakpoint) {
    .masthead {
        text-align: center;
    }
}


// Upload
#upload {
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -30px;
    margin-left: -130px;
    .btn {
        @include box-sizing( border-box );
        width: 260px;
        padding: 10px 20px 10px 10px;
        display: block;
        position: absolute;
        top: 50%;
        color: #fff;
        text-align: center;
    }
    input {
        @include opacity(0);
        width: 260px;
        height: 50px;
        position: absolute;
        top: 50%;
        z-index: 2;
        cursor: pointer;
        &:hover, &:focus {
            + .btn {
                background: darken($secondary, 10%);
            }
        }
        &:active {
            + .btn {
                background: darken($secondary, 20%);
            }
        }
    }
}

.sub {
    width: 260px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: 60px;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
}

.drag-drop {
    @extend .transition;
    @include border-radius( 50px );
    @include box-sizing( border-box );
    @include opacity(0);
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    background: rgba(#fff, .6);
    z-index: -1;
    border: 10px dashed rgba(#00b0ce, .2);
    
    &.visible {
        @include opacity(1);
        z-index: 3;
    }
    
    span {
        @extend .transition;
        display: block;
        width: 100%;
        text-align: center;
        font-size: 34px;
        font-weight: 700;
        margin-top: 30px;
        line-height: 150%;
    }
}


// Basic info 
.basic-info {
    @include clearfix;
    float: none;
    clear: both;
    background: #323a44;
    color: #fff;
    span {
        font-weight: 300;
    }

    // Img
    .img {
        @extend .col-4;
        padding: 20px 0;
        img {
            @include box-sizing( border-box );
            border: 10px solid #fff;
        }
        @media screen and(max-width:$breakpoint) {
            @extend .col-12;
        }
    }

    // Name
    .info {
        @extend .col-8;
        padding: 0 10px;       
        @media screen and(max-width:$breakpoint) {
            @extend .col-12;
        }
    }

    ul {
        margin: 0;
        padding: 0 0 20px 0;
        list-style: none;
    }

    .title {
        width: 150px;
        display: inline-block;
    }
}

// Data
.data {
    padding: 20px;
    .content {
        background: #fff;
        padding-bottom: 20px;
    }
}

// maps
.maps {
    @include clearfix;
    width: 100%;
    height: 300px;
}
